@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Cabin:700');

body {
	margin: 0;
	padding: 0;
}

.home {
	width: 100%;
	height: 100vh;
	background-image: url(../img/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.menu {
	padding: 1% 5% 1% 5%;
	text-align: right;
	word-spacing: 1em;
}

.headermeny {
	color: #DFE0E2;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Anton', sans-serif;
	font-size: 1.3em;
}

.headermeny:hover {
	opacity: 0.8;
}

.about {
	width: 100%;
	height: 100vh;
	background-image: url(../img/2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	display: table-cell;
	vertical-align: middle;
}

.aboutme {
	margin: 0 auto;
	padding: 1% 5% 1% 5%;
	color: #DFE0E2;
	font-family: 'Cabin', sans-serif;
	text-align: justify;
}